<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="salvar">
      <h1>Cadastrar Livro</h1>
      <label for="nome">ISBN:</label>
      <input type="text" id="isbn" name="isbn" required />
      <label for="nome">Título:</label>
      <input type="text" id="titulo" name="titulo" required />
      <label for="ano_editora">Ano editora</label>
      <input type="text" id="ano_editora" name="ano_editora" required />
      <label for="autor">Autores</label>
      <input type="text" id="autores" name="autores" required />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
